
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
    <link rel="stylesheet" type="text/css" href="/css/fmstylesheet.css">
    <!-- 폰트링크 -->
    
    <style>
    
    .jumbotron
  { min-height: 200px;
    width:250px;
  color:black;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  }

  
      .jumbotron2
  { min-height: 500px;
    width:850px;
  color:black;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  }
  
<style type="text/css">
.form-style-2{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;
    
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}
</style>
 
    </style>
 

<body>

 <%=render :partial =>"game_page/fixed_bar" %>
  <header class="intro-header" style="background-image: url('https://gsbranch3-leebyeongho1.c9.io/imgs/boot1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                       
                        <h1><font1>팀 등록</font1></h1>
                        <hr>
                        <span class="subheading"><font1>참가하는 팀의 정보를 작성 해주세요.</font1></span>
                      
                    </div>
                </div>
            </div>
        </div>
    </header>

  <%= form_tag("/freematch/team_list_write", method: "post", :class => "form-style-2") do %>
    
  <div class="row">
  <div class="col-md-3"><center></center></div>
  <div class="col-md-2">
  <div class="jumbotron">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div style="padding-bottom:1px; background:rgba(80,80,75,0.5); align:center">
<center><font1><a href="/freematch/team_list"><font color="black">Team list</font></a></font1></center>
</div>
<div style="padding-bottom:1px; background:rgba(80,80,75,0.5); align:center">               
<center><h1><font3><font size="20px">팀 등록</font></font3></h1></center>                 
                     

</div><!-- padding 닫혀지는 div --><br><br>

<center><input type="button" id="addteam_button" class="btn btn-primary" value="Start"></button></center>

<div style="display :none" id="kind_of_game">
    
    <div>
      <input type="radio" id="radio01" name="radio" value="lol">
      <label for="radio01">League Of Legend</label><br>
    </div>
    
    <div>
      <input type="radio" id="radio02" name="radio" value="fifa">
      <label for="radio02">Fifa Online 3</label><br>
    </div>
   
    <div>
      <input type="radio" id="radio03" name="radio" value="hearthstone">
      <label for="radio03">Hearth stone</label><br>
    </div>
  </div>
</div><!-- md-8 닫는 div-->
</div><!-- 팀등록 페이지 첫 class row 닫는 div -->
</div><!-- 첫 점보트론 닫는 div -->
</div><!-- col_md 4의 div -->

    <div class="col-md-3">
    
    <!-- 롤 팀 등록 -->
    <div class="jumbotron2">

    <div class="col-md-2"><font3><font size="5px" color="black">Start를<br>눌러주세요</font></font3></div>
    
    <div class="col-md-8">
  
    <div style="display :none" id="lol_team_introduce">
   
        
      팀명 : <input type="text" name="lol_team_name" placeholder="팀명"><br>
      팀장 : <%= current_user.name %><input type="hidden" name="leader_name" value="<%= current_user.name %>"><br> 
      학과 : <%= current_user.major %><input type="hidden" name="lol_major" value="<%= current_user.major %>"><br>
      ID : <input type="text" name="lol_leader_id" placeholder="ID">
      <select id="mm" title="계급" class="sel" onchange="checkBirthday('check')" name="lol_leader_tear">
      	<option value="">계급</option>
     		<option value="브론즈">브론즈</option>
     		<option value="실버">실버</option>
     		<option value="골드">골드</option>
     		<option value="플래티넘">플래티넘</option>
     		<option value="다이아">다이아</option>
     		<option value="마스터">마스터</option>
     		<option value="챌린저">챌린저</option>
      </select>
      <br>
      팀원 1 : <input type="text" name="lol_member_name_1" placeholder="팀원 1"> ID : <input type="text" name="lol_user_id_1" placeholder="ID">
      <select id="mm" title="계급" class="sel" onchange="checkBirthday('check')" name="lol_tear_user_1">
      	<option value="">계급</option>
     		<option value="브론즈">브론즈</option>
     		<option value="실버">실버</option>
     		<option value="골드">골드</option>
     		<option value="플래티넘">플래티넘</option>
     		<option value="다이아">다이아</option>
     		<option value="마스터">마스터</option>
     		<option value="챌린저">챌린저</option>
      </select>
      <br>
      팀원 2 : <input type="text" name="lol_member_name_2" placeholder="팀원 2"> ID : <input type="text" name="lol_user_id_2" placeholder="ID">
      <select id="mm" title="계급" class="sel" onchange="checkBirthday('check')" name="lol_tear_user_2">
        <option value="">계급</option>
     		<option value="브론즈">브론즈</option>
     		<option value="실버">실버</option>
     		<option value="골드">골드</option>
     		<option value="플래티넘">플래티넘</option>
     		<option value="다이아">다이아</option>
     		<option value="마스터">마스터</option>
     		<option value="챌린저">챌린저</option>
      </select>
      <br>
      팀원 3 : <input type="text" name="lol_member_name_3" placeholder="팀원 3"> ID : <input type="text" name="lol_user_id_3" placeholder="ID">
      <select id="mm" title="계급" class="sel" onchange="checkBirthday('check')" name="lol_tear_user_3">
      	<option value="">계급</option>
     		<option value="브론즈">브론즈</option>
     		<option value="실버">실버</option>
     		<option value="골드">골드</option>
     		<option value="플래티넘">플래티넘</option>
     		<option value="다이아">다이아</option>
     		<option value="마스터">마스터</option>
     		<option value="챌린저">챌린저</option>
      </select>
      <br>
      팀원 4 : <input type="text" name="lol_member_name_4" placeholder="팀원 4"> ID : <input type="text" name="lol_user_id_4" placeholder="ID">
      <select id="mm" title="계급" class="sel" onchange="checkBirthday('check')" name="lol_tear_user_4">
        <option value="">계급</option>
     		<option value="브론즈">브론즈</option>
     		<option value="실버">실버</option>
     		<option value="골드">골드</option>
     		<option value="플래티넘">플래티넘</option>
     		<option value="다이아">다이아</option>
     		<option value="마스터">마스터</option>
     		<option value="챌린저">챌린저</option>
      </select>
      <br>

      <textarea name="lol_team_comment" placeholder="팀을 소개 해주세요." style="margin: 0px; width: 518px; height: 142px;"></textarea><br>
      <input type="submit" value="완료">
    </div>
  
    <!-- 피파 팀 등록 -->  
    <div style="display :none" id="fifa_team_introduce">
      이름 : <%= current_user.name %><input type="hidden" name="fifa_user_name" value="<%= current_user.name %>"><br>
      학과 : <%= current_user.major %><input type="hidden" name="fifa_major" value="<%= current_user.major %>"><br> 
      피파 id : <input type="text" name="fifa_game_id" placeholder="게임 id"><br>
      계급 : <input type="text" name="fifa_tear" placeholder="계급"><br>
      
      <textarea name="fifa_team_comment" placeholder="팀을 소개 해주세요." style="margin: 0px; width: 518px; height: 142px;"></textarea><br>
      <input type="submit" value="완료">
    </div>
  
  
  
    <!-- 하스 팀 등록 -->
    <div style="display :none" id="hearthstone_team_introduce">
      이름. : <%= current_user.name %><input type="hidden" name="hearthstone_user_name" value="<%= current_user.name %>"><br>
      학과 : <%= current_user.major %><input type="hidden" name="hearthstone_major" value="<%= current_user.major %>"><br>
      하스 id : <input type="text" name="hearthstone_game_id" placeholder="게임 id"><br>
      계급 : <input type="text" name="hearthstone_tear" placeholder="계급"><br>
      
      <textarea name="hearthstone_team_comment" placeholder="팀을 소개 해주세요." style="margin: 0px; width: 518px; height: 142px;"></textarea><br>
      <input type="submit" value="완료">
    </div>
    
  </div>
  </div>
  </div><!-- col-md-3 값 -->
  <div class="col-md-1"></div>
  <% end %>


<script>
  $(function(){
    $("#addteam_button").click(function(){
    //팀등록하기 버튼 클릭했을때
   
      $("#kind_of_game" ).show();
      //게임종류를 보여줌
      
        $("#radio01").click(function(){
        //롤을 클릭했뜰때
          $("#lol_team_introduce" ).show();
          $("#fifa_team_introduce" ).hide();
          $("#hearthstone_team_introduce" ).hide();
        });
          
        $("#radio02").click(function(){
        //피파을 클릭했뜰때
          $("#lol_team_introduce" ).hide();
          $("#fifa_team_introduce" ).show();
          $("#hearthstone_team_introduce" ).hide();
        });
          
        $("#radio03").click(function(){
        //하스스톤을 클릭했뜰때
          $("#lol_team_introduce" ).hide();
          $("#fifa_team_introduce" ).hide();
          $("#hearthstone_team_introduce" ).show();
        });
        
        });
        });
      
</script>

