<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>랭킹페이지</title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/landing-page.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->



</head>

<body>
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-left">
                    
                    <li>
                        <a href="/game_page/main"><font size="3px"><font1>GameSchool</font1></font></a>
                    </li>
                    <% if user_signed_in? %>
                    <li>
                        <a href="#"><font size="3px"><font1><%= current_user.name %>님</font1></font></a>
                    </li>
                    <li>
                        <a href="/users/edit"><font size="3px"><font1>회원정보수정</font1></font></a>
                    </li>
                    <li>
                        <a href="/users/sign_out"><font size="3px"><font1>로그아웃</font1></font></a>
                    </li>
                    <% else %>
                    <li>
                        <a href="/users/sign_in"><font size="3px"><font1>로그인</font1></font></a>
                    </li>
                    <li>
                        <a href="/users/sign_up"><font size="3px"><font1>회원가입</font1></font></a>
                    </li>
                    <% end %>
                </ul>
            </div>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                
                    <li >
                        <a href="/game_page/main"><font size="4px"><font1>Home</font1></font></a>
                    </li>
                    <li>
                        <% if user_signed_in? %>
                            <a href="/freematch/add_team"><font size="4px"><font1>팀 등록</font1></font></a>
                        <% else %>    
                            <a href="/freeboard/warning"><font size="4px"><font1>팀 등록</font1></font></a>
                        <% end %>
                    </li>
                    <li>
                        <% if user_signed_in? %>
                            <a href="/freematch/team_list"><font size="4px"><font1>대전신청</font1></font></a>
                        <% else %>
                            <a href="/freeboard/warning"><font size="4px"><font1>대전신청</font1></font></a>
                        <% end %>
                    </li>
                    <li>
                        <a href="/freeboard/freeboards"><font size="4px"><font1>게시판</font1></font></a>
                    </li>
                    <li>
                        <a href="/freematch/rank" ><font size="4px"><font1>랭킹보기</font1></font></a>
                    </li>
                     <li>
                        <a href="/freematch/daejin" ><font size="4px"><font1>대진표</font1></font></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>랭킹</h1>
             <hr class="intro-divider">
            <h3>자신의 팀의 랭킹을 알 수 있습니다.</h3>
           
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- 모든 그리드 시작 -->  
  
  <!-- 롤 랭킹 그리드 -->
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-3 col-md-3 col-sm-3" >
          <h4 class="section-heading"><center>리그 오브 레전드</center></h4>
          <img  class="img-responsive" src="http://www.op.gg/r/outImage/https://cdn.leagueoflegends.com/match-history/opengraph_icon.jpg" alt="" >
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" >
          <hr class="section-heading-spacer">
         
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>순위</center></h4>
          <div class="clearfix"></div>
          <h4><center>1위</center></h4>
          <div class="clearfix"></div>
          <h4><center>2위</center></h4>
          <div class="clearfix"></div>
          <h4><center>3위</center></h4>
          <div class="clearfix"></div>
          <h4><center>4위</center></h4>
          <div class="clearfix"></div>
          <h4><center>5위</center></h4>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>승점</center></h4>
            <% @rank_lol_winner_point.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffe4c4;">
                  <h4><%= t.lol_team_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffe4c4;">
                  <h4> <%= t.lol_winner_point %> 점 </h4>
                </div>
              </div>
            <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_lol_winner_point=<%= @rank_lol_winner_point %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>경기수</center></h4>
            <% @rank_lol_total_game.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #E0FFFF;">
                  <h4><%= t.lol_team_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #E0FFFF">
                  <h4><%= t.lol_total_game %> 번 </h4>
                </div>
              </div>
            <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_lol_total_game=<%= @rank_lol_total_game %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg" >전체랭킹</a>
          </center>        
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>승률</center></h4>
            <% @rank_lol_winning_rate.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffffe0">
                  <h4><%= t.lol_team_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffffe0">
                  <h4><%= t.lol_winning_rate %> % </h4>
                </div>
              </div>
            <% end %> 
          <center>  
            <a href="/freematch/total_ranking?mode_rank_lol_winning_rate=<%= @rank_lol_winning_rate %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>트롤</center></h4>
            <% @rank_lol_lose.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #f5f5f5">
                  <h4><%= t.lol_team_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #f5f5f5">
                  <h4> <%= t.lol_lose %> 번</h4>
                </div>
              </div>
            <% end %> 
          <center>    
            <a href="/freematch/total_ranking?mode_rank_lol_lose=<%= @rank_lol_lose %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
      </div>
    </div>  
  </div>
  
  <!-- 피파 랭킹 그리드 -->
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <h4 class="section-heading"><center>피파온라인 3</center></h4>
          <img class="img-responsive" src="http://gamepc.kr/wp-content/uploads/2014/12/d0070619_50ba02c4aad4c.jpg" alt="">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" >
          <hr class="section-heading-spacer">
         
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>순위</center></h4>
          <div class="clearfix"></div>
          <h4><center>1위</center></h4>
          <div class="clearfix"></div>
          <h4><center>2위</center></h4>
          <div class="clearfix"></div>
          <h4><center>3위</center></h4>
          <div class="clearfix"></div>
          <h4><center>4위</center></h4>
          <div class="clearfix"></div>
          <h4><center>5위</center></h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>승점</center></h4>
          <% @rank_fifa_winner_point.first(5).each do |t| %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffe4c4;">
                <h4><%= t.fifa_user_name %></h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffe4c4;">
                <h4><%= t.fifa_winner_point %> 점</h4>
              </div>
            </div>
          <% end %> 
          <center>
            <a href="/freematch/total_ranking?mode_rank_fifa_winner_point=<%= @rank_fifa_winner_point %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>경기수</center></h4>
          <% @rank_fifa_total_game.first(5).each do |t| %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #E0FFFF;">
                <h4><%= t.fifa_user_name %></h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #E0FFFF;">
                <h4><%= t.fifa_total_game %> 번</h4>
              </div>
            </div>
          <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_fifa_total_gamet=<%= @rank_fifa_total_game %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>승률</center></h4>
          
          <% @rank_fifa_winning_rate.first(5).each do |t| %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffffe0">
                <h4><%= t.fifa_user_name %></h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffffe0">
                <h4><%= t.fifa_winning_rate %> %</h4>
              </div>
            </div>
          <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_fifa_winning_rate=<%= @rank_fifa_winning_rate %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>트롤</center></h4>
          
          <% @rank_fifa_lose.first(5).each do |t| %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #f5f5f5">
                <h4><%= t.fifa_user_name %></h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #f5f5f5">
                <h4><%= t.fifa_lose %> 번</h4>
              </div>
            </div>
          <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_fifa_lose=<%= @rank_fifa_lose %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>

        
      </div>
    </div>
  </div>
  
  <!-- 하스스톤 랭킹 그리드 -->
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-3 col-md-3 col-sm-3">
          <h4 class="section-heading"><center>하스스톤</center></h4>
          <img class="img-responsive"  src="http://i1.daumcdn.net/thumb/R750x0/?fname=http%3A%2F%2Fcfile29.uf.tistory.com%2Fimage%2F233E4A4C55700EB21A0CD7" alt="">
        </div>
         <div class="col-lg-1 col-md-1 col-sm-1" >
          <hr class="section-heading-spacer">
         
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>순위</center></h4>
          <div class="clearfix"></div>
          <h4><center>1위</center></h4>
          <div class="clearfix"></div>
          <h4><center>2위</center></h4>
          <div class="clearfix"></div>
          <h4><center>3위</center></h4>
          <div class="clearfix"></div>
          <h4><center>4위</center></h4>
          <div class="clearfix"></div>
          <h4><center>5위</center></h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>승점</center></h4>
            <% @rank_Heartstone_winner_point.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffe4c4;">
                  <h4><%= t.hearthstone_user_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffe4c4;">
                  <h4><%= t.hearthstone_winner_point %> 점</h4>
                </div>
              </div>
            <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_Heartstone_winner_point=<%= @rank_Heartstone_winner_point %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>경기수</center></h4>
            <% @rank_Heartstone_total_game.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #E0FFFF;">
                  <h4><%= t.hearthstone_user_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #E0FFFF;">
                  <h4><%= t.hearthstone_total_game %> 번</h4>
                </div>
              </div>
            <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_Heartstone_total_game=<%= @rank_Heartstone_total_game %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>승률</center></h4>
            <% @rank_Heartstone_winning_rate.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffffe0">
                  <h4><%= t.hearthstone_user_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #ffffe0">
                  <h4><%= t.hearthstone_winning_rate %> %</h4>
                </div>
              </div>
            <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_Heartstone_winning_rate=<%= @rank_Heartstone_winning_rate %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h4 class="section-heading"><center>트롤</center></h4>
            <% @rank_Heartstone_lose.first(5).each do |t| %>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #f5f5f5">
                  <h4><%= t.hearthstone_user_name %></h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: #f5f5f5">
                  <h4><%= t.hearthstone_lose %> 번</h4>
                </div>
              </div>
            <% end %>
          <center>
            <a href="/freematch/total_ranking?mode_rank_Heartstone_lose=<%= @rank_Heartstone_lose %>" onclick="window.open(this.href,'window','width=500,height=600,resizable,scrollbars,toolbar,menubar') ;return false;" class="btn btn-default btn-lg">전체랭킹</a>
          </center>
        </div>
      </div>
    </div>
  </div>
  
  
<!--모든 그리드  끝-->


	<a  name="contact"></a>
  <div class="banner" >
    <div class="container">
      <div class="row" >
        <div class="col-lg-6" >
          <h2>건의사항및 문의사항:</h2>
        </div>
        <div class="col-lg-6">
          <ul class="list-inline banner-social-buttons">
            
            <h2>plazmapxt@naver.com</h2>
          </ul>
        </div>
      </div>
    </div>
  </div>
   
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
             팁쁠!!화이팅!!
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="/js/freematch_jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>
  
  

</body>

</html>
