<h1>팀 리스트 page</h1>


<h1>롤 팀</h1>


<% @teamlists.each do |a| %>

  <% if a.kind_of_game == "lol" %>

    <p> 팀명 : <a href="/freematch/team_info/<%= a.id %>"><%= a.lol_team_name %></a> <br> 
    
  <% end %>
<% end %>



<h1>피파 팀</h1>
<% @teamlists.each do |a| %>

  <% if a.kind_of_game == "fifa" %>

    <p> 이름 : <a href="/freematch/team_info/<%= a.id %>"><%= a.fifa_user_name %></a> <br>
     
  <% end %>
<% end %>



<h1>하스 팀</h1>
<% @teamlists.each do |a| %>

  <% if a.kind_of_game == "hearthstone" %>

    <p> 이름 : <a href="/freematch/team_info/<%= a.id %>"><%= a.hearthstone_user_name %></a> <br> 
        
  <% end %>
<% end %>
<br>

<button><a href="/freematch/add_team">팀등록 페이지 가기</a></button>