<h1>팀 리스트 page</h1>


<h1>롤 팀</h1>
<% @aaa.each do |a| %>

    <%= a.team_name %>  <%= a.tear %> <%= a.kind_of_game %> <%= a.game_id %> <%= a.member_name %><br>

<% end %>
<h1>피파 팀</h1>


<h1>하스 팀</h1>
