<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
<link rel="stylesheet" type="text/css" href="/css/fmstylesheet.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
body {
              padding:0;
              margin:0;
 
              background-image: url('');
              width: 100%; 
              height: 100%; 
              overflow: hidden; 
              background-position: 0 0; 
              background-repeat: no-repeat; 
              background-attachment: fixed; 
              background-size: cover;
              position: relative;
              overflow-y: auto; 
          }
font3{
          font-family: 'Hanna', serif;
          font-size:28px;
      }
font4{
    font-family: 'Hanna', serif;
    font-size:15px;
}
</style>

<body>
  <%=render :partial =>"game_page/fixed_bar" %>
  <header class="intro-header" style="background-image: url('/imgs/boot1.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
             
            <h1><font1>팀 정보</font1></h1>
            <hr>
            <span class="subheading"><font1>현재 팀의 대한 정보들 입니다.</font1></span>
            
          </div>
        </div>

      </div>
    </div>
  </header>


  <div class="container">
    <div class="thumbnail"  style="height:750px">
      <img src="/imgs/TeamInfo이미지.PNG">
      <div style="padding-top:1px; padding-bottom:1px; background:white; align:center"><br>

        <% if @kind_of_game == "lol" %>
          팀명&nbsp;&nbsp;&nbsp;<%= @teamlists_lol.lol_team_name %> 
          
          <table class="table">
            <tr >
              <th>게임종류</th>
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
              <th><%= @kind_of_game %></th>
              <th>팀장</th>
              <th><%= @teamlists_lol.leader_name %></th>
              <th><%= @teamlists_lol.lol_major %></th>
              <th><%= @teamlists_lol.lol_leader_tear %></th>
              <th><%= @teamlists_lol.lol_leader_id %></th>
            </tr>
            <tr class="info">
              <th></th>
              <th>팀원</th>
              <th><%= @teamlists_lol.lol_member_name_1 %></th>
              <th>정보통신학과</th>
              <th><%= @teamlists_lol.lol_tear_user_1 %></th>
              <th><%= @teamlists_lol.lol_user_id_1 %></th>
            </tr>
            <tr class="info">
              <th></th>
              <th>팀원</th>
              <th><%= @teamlists_lol.lol_member_name_2 %></th>
              <th>정보통신학과</th>
              <th><%= @teamlists_lol.lol_tear_user_2 %></th>
              <th><%= @teamlists_lol.lol_user_id_2 %></th>
            </tr>
            <tr class="info">
              <th></th>
              <th>팀원</th>
              <th><%= @teamlists_lol.lol_member_name_3 %></th>
              <th>정보통신학과</th>
              <th><%= @teamlists_lol.lol_tear_user_3 %></th>
              <th><%= @teamlists_lol.lol_user_id_3 %></th>
            </tr>
            <tr class="info">
              <th></th>
              <th>팀원</th>
              <th><%= @teamlists_lol.lol_member_name_4 %></th>
              <th>정보통신학과</th>
              <th><%= @teamlists_lol.lol_tear_user_4 %></th>
              <th><%= @teamlists_lol.lol_user_id_4 %></th>
            </tr>
          </table>
          <br>
          
          <center><h1><font3>소개</font3></h1><br>
         
          <font4><%= @teamlists_lol.comment %></font4>
          </center>
          
          <div>
            <a href="/freematch/team_list"><button>팀리스트로 가기</button></a>
            <% if @teamlists_lol.lol_whichgame == false %>
              <button id="fight_lol">대결 신청!!!!!!</button>
              
              <% if @teamlists_lol.lol_current_user_id == current_user.id %>
                <%= form_tag("/freematch/delete_team", method: "get") do %>
                  <input type="submit" value="팀삭제">
                  <input type='hidden' name='teamlist_id' value=<%= @teamlists_lol.id %>>
                  <input type='hidden' name='kind_of_game' value='<%= @kind_of_game %>'>
                <% end %>
              <% end %>
            <% else %>
              <%= @teamlists_lol.lol_opposing_team %> 님과 대결중!!!!
              <a href="#">대결 정보 보러 가기</a>
            <% end %>  
          </div>
          <br>
          <% if @teamlists_lol.lol_whichgame == false %>
            <% @teamlists_lol.fightsubscriptions.each do |s| %>
              팀명 : <a href="/freematch/team_info/<%= s.lol_add_team_name_id %>"><%= s.lol_subscription_team_name %></a>
                     <%= s.lol_add_team_name_id %>
                       <% if @teamlists_lol.lol_current_user_id == current_user.id %>
                         <a href="/freematch/matching_success?lol_add_team_name_id=<%=s.lol_add_team_name_id%>&kind_of_game=<%=@kind_of_game%>"><button id="lol_matching_success">수락</button></a><br>
                       <% end %>
            <% end %>           
          <% end %>
          
          <script>
            $(document).ready(function(){
              $("#fight_lol").click(function(){
        
                if (<%= @lol_subscription_user.nil? %>) {
                  alert("리그 오브 레전드 팀을 등록하고 대결 신청해주세요.");
                }
                else if (<%= @lol_subscription_check.nil? == false %>){
                  alert("이미 대결 신청을 하셨습니다."); 
                }
                else if (<%= @teamlists_lol.fightsubscriptions.count >= 3 %>){
                  alert("더 이상 대결 신청을 할 수 없습니다."); 
                }
                else if (<%= @teamlists_lol.lol_whichgame == true %>){
                  alert("현재 대결 중입니다.");
                }
                else{
                  $.ajax({
                    data: {
                      kind_of_game : "<%= @kind_of_game %>",
                      teamlist_id : <%= @teamlists_lol.id %>
                    },
                    url: "/freematch/subscription_write",
                    success: function(){
               
                      alert("대결을 신청하셨습니다.");
                      location.reload();
                    }
                  }); 
                } 
              });      
            });
          </script>
        <!-- 롤 대결신청 출력 끝 -->
          
        <% elsif @kind_of_game == "fifa" %>
        
          <table class="table">
            <tr>
              <th>게임종류</th>
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
              <th><%= @kind_of_game %></th>
              <th>팀장</th>
              <th><%= @teamlists_fifa.fifa_user_name %></th>
              <th><%= @teamlists_fifa.fifa_major %></th>
              <th><%= @teamlists_fifa.tear %></th>
              <th><%= @teamlists_fifa.game_id %></th>
            </tr>
          </table>
          <br>
          <center><h1><font3>소개</font3></h1><br>
        
          <h1> 팀 설명 : <font4><%= @teamlists_fifa.comment %></font4></h1></center>
          <br>
          <button><a href="/freematch/team_list">팀리스트로 가기</a></button>
            
        <!-- 피파 대결신청 출력 -->    
        <% if @teamlists_fifa.fifa_whichgame == false %>
          <button id="fight_fifa">대결 신청!!!!!!</button>
          <% if @teamlists_fifa.fifa_current_user_id == current_user.id %>
              <%= form_tag("/freematch/delete_team", method: "get") do %>
                <input type="submit" value="팀삭제">
                <input type='hidden' name='teamlist_id' value=<%= @teamlists_fifa.id %>>
                <input type='hidden' name='kind_of_game' value='<%= @kind_of_game %>'>
              <% end %>
          <% end %>    
        <% else %>
          <%= @teamlists_fifa.fifa_opposing_team %> 님과 대결중!!!!
          <a href="#">대결 정보 보러 가기</a>
        <% end %>
          
          <% if @teamlists_fifa.fifa_whichgame == false %>
            <% @teamlists_fifa.fightsubscription_fifas.each do |s| %>
            이름 : <a href="/freematch/team_info/<%= s.fifa_add_team_name_id %>"><%= s.fifa_user_name %></a>
            
                    <% if @teamlists_fifa.fifa_current_user_id == current_user.id %>
                       <a href="/freematch/matching_success?fifa_add_team_name_id=<%=s.fifa_add_team_name_id%>&kind_of_game=<%=@kind_of_game%>"><button id="fifa_matching_success">수락</button></a><br>
                    <% end %>
            <% end %>
          <% end %>
            
        <!-- 피파 대결신청 출력 끝 -->
        <script>
          $(document).ready(function(){
            $("#fight_fifa").click(function(){
              
              if (<%= @teamlists_fifa.fifa_current_user_id == current_user.id %>){
                alert("본인 팀에 대결 신청하시려고?");
              }
              else if (<%= @fifa_subscription_user.nil? %>) {
                alert("피파 온라인 팀을 등록하고 대결 신청해주세요.");
              }
              else if (<%= @fifa_subscription_check.nil? == false %>){
                alert("이미 대결 신청을 하셨습니다."); 
              }
              else if (<%= @teamlists_fifa.fightsubscription_fifas.count >= 3 %>){
                alert("더 이상 대결 신청을 할 수 없습니다."); 
              }
              else if (<%= @teamlists_fifa.fifa_whichgame == true %>){
                alert("현재 대결 중입니다.");
              }
              else{
                $.ajax({
                  data: { 
                    kind_of_game : "<%= @kind_of_game %>",
                    teamlist_id : <%= @teamlists_fifa.id %>
                  },
                  url: "/freematch/subscription_write",
                  success: function(){
             
                    alert("대결을 신청하셨습니다.");
                    location.reload();
                  }
                }); 
              } 
            });
              
            });
        </script>  
        
          
        <% else %>
          
          <table class="table">
            <tr>
              <th>게임종류</th>
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr>
              <th class="info"><%= @kind_of_game %></th>
              <th class="info">팀장</th>
              <th class="info"><%= @teamlists_hearthstone.hearthstone_user_name %></th>
              <th class="info"><%= @teamlists_hearthstone.hearthstone_major %></th>
              <th class="info"><%= @teamlists_hearthstone.tear %></th>
              <th class="info"><%= @teamlists_hearthstone.game_id %></th>
            </tr>
          </table>
          <br>
          <center><h1><font3>소개</font3></h1><br>
          <font4><%= @teamlists_hearthstone.comment %></font4></center>
          <h1> 팀 설명 : <%= @teamlists_hearthstone.comment %></h1><br>
         
          <button><a href="/freematch/team_list">팀리스트로 가기</a></button>
          <% if @teamlists_hearthstone.hearthstone_whichgame == false %>
            <button id="fight_hearthstone">대결 신청!!!!!!</button>
            
            <% if @teamlists_hearthstone.hearthstone_current_user_id == current_user.id %>
              <%= form_tag("/freematch/delete_team", method: "get") do %>
                <input type="submit" value="팀삭제">
                <input type='hidden' name='teamlist_id' value=<%= @teamlists_hearthstone.id %>>
                <input type='hidden' name='kind_of_game' value='<%= @kind_of_game %>'>
              <% end %>
            <% end %>
          <% else %>
            <%= @teamlists_hearthstone.hearthstone_opposing_team %> 님과 대결중!!!!
            <a href="#">대결 정보 보러 가기</a>
          <% end %>
          
          <% if @teamlists_hearthstone.hearthstone_whichgame == false %>
            <% @teamlists_hearthstone.fightsubscription_hearthstones.each do |s| %>
              이름 : <a href="/freematch/team_info/<%= s.hearthstone_add_team_name_id %>"><%= s.hearthstone_user_name %></a>
              
                     <% if @teamlists_hearthstone.hearthstone_current_user_id == current_user.id %>
                       <a href="/freematch/matching_success?hearthstone_add_team_name_id=<%=s.hearthstone_add_team_name_id%>&kind_of_game=<%=@kind_of_game%>"><button id="hearthstone_matching_success">수락</button></a><br>
                     <% end %>
            <% end %>
          <% end %>
          
          <script>
            $(document).ready(function(){
              $("#fight_hearthstone").click(function(){
                if (<%= @hearthstone_subscription_user.nil? %>) {
                  alert("하스스톤 팀을 등록하고 대결 신청해주세요.");
                }
                else if (<%= !@hearthstone_subscription_check.nil? %>){
                  alert("이미 대결 신청을 하셨습니다."); 
                }
                else if (<%= @teamlists_hearthstone.fightsubscription_hearthstones.count >= 3 %>){
                  alert("더 이상 대결 신청을 할 수 없습니다."); 
                }
                else if (<%= @teamlists_hearthstone.hearthstone_whichgame == true %>){
                  alert("현재 대결 중입니다.");
                }
                else{
                  $.ajax({
                    data: { 
                      kind_of_game : "<%= @kind_of_game %>",
                      teamlist_id : <%= @teamlists_hearthstone.id %>
                    },
                    url: "/freematch/subscription_write",
                    success: function(){
               
                      alert("대결을 신청하셨습니다.");
                      location.reload();
                    }
                  }); 
                } 
              });
                
              });
          </script>   
        <% end %>
      </div>
    </div>
  </div>
  <center><button type="button" class="btn btn-primary"><a href="/freematch/team_list"><font color="white">팀리스트로 가기</font></a></button></center><br><br>
</body>
