<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
<link rel="stylesheet" type="text/css" href="/css/fmstylesheet.css">

<style>
  * {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

div.wrapper {
  margin: 20px auto;
  width: 500px;
}



nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
 
}



      nav.vertical > ul > li > a {
        background-color: rgb(157, 34, 60);
        background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size: .85rem;
        font-weight: 500;
        height: 50px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
      }
      
      
      div.wrapper2 {
  margin: 20px auto;
  width: 1300px;
}

</style>

<!-- Navigation -->
     <%=render :partial =>"game_page/fixed_bar" %>
<br>


       
        
          <header class="intro-header" style="background-image: url('http://kr.leagueoflegends.com/upload/EditorImages/20150309153856_hyZxkMRP.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                     
                       <h1>Detail View</h1>
                        <hr>
                        <span class="subheading"><strong>대전중인 팀을 상세히 볼 수 있어요!</strong></span>
                     
                    </div>
                </div>
            </div>
        </div>
    </header>
    
   
    <div class="row">
      
<div class="col-md-12">


<% if @kind_of_game == "lol" %>  
    
     
         <div class="wrapper2">
            <nav class="vertical">
              <ul>
                <li>
                <a><center><font2><font size="5px">현제 진행중인 팀 상세 정보 입니다.</font></font2></center></a>
      
      <div class="row"> 
        <div class="col-md-4">
        
         <table class="table" style="margin-top:30%">
              <tr >
               
                <th>분류</th>
                <th>이름</th>
                <th>학과</th>
                <th>계급</th>
                <th>게임 ID</th>
              </tr>
              <tr class="info">
                
                <th>팀장</th>
                <th><%= @lol_my_team_info.leader_name %></th>
                <th><%= @lol_my_team_info.lol_major %></th>
                <th><%= @lol_my_team_info.lol_leader_tear %></th>
                <th><%= @lol_my_team_info.lol_leader_id %></th>
              </tr>
              <tr class="info">
              
                <th>팀원</th>
                <th><%= @lol_my_team_info.lol_member_name_1 %></th>
                <th><%= @lol_my_team_info.lol_member_major_1 %></th>
                <th><%= @lol_my_team_info.lol_tear_user_1 %></th>
                <th><%= @lol_my_team_info.lol_user_id_1 %></th>
              </tr>
              <tr class="info">
               
                <th>팀원</th>
                <th><%= @lol_my_team_info.lol_member_name_2 %></th>
                <th><%= @lol_my_team_info.lol_member_major_2 %></th>
                <th><%= @lol_my_team_info.lol_tear_user_2 %></th>
                <th><%= @lol_my_team_info.lol_user_id_2 %></th>
              </tr>
              <tr class="info">
               
                <th>팀원</th>
                <th><%= @lol_my_team_info.lol_member_name_3 %></th>
                <th><%= @lol_my_team_info.lol_member_major_3 %></th>
                <th><%= @lol_my_team_info.lol_tear_user_3 %></th>
                <th><%= @lol_my_team_info.lol_user_id_3 %></th>
              </tr>
              <tr class="info">
             
                <th>팀원</th>
                <th><%= @lol_my_team_info.lol_member_name_4 %></th>
                <th><%= @lol_my_team_info.lol_member_major_4 %></th>
                <th><%= @lol_my_team_info.lol_tear_user_4 %></th>
                <th><%= @lol_my_team_info.lol_user_id_4 %></th>
              </tr>
            </table>
          </div>
          
         
          
          <div class="col-md-4">
         <table class="table" style="margin-top:30%">
              <tr >
              
                <th>분류</th>
                <th>이름</th>
                <th>학과</th>
                <th>계급</th>
                <th>게임 ID</th>
              </tr>
              <tr class="info">
               
                <th>팀장</th>
                <th><%= @lol_opposing_team_info.leader_name %></th>
                <th><%= @lol_opposing_team_info.lol_major %></th>
                <th><%= @lol_opposing_team_info.lol_leader_tear %></th>
                <th><%= @lol_opposing_team_info.lol_leader_id %></th>
              </tr>
              <tr class="info">
              
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_1 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_1 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_1 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_1 %></th>
              </tr>
              <tr class="info">
              
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_2 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_2 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_2 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_2 %></th>
              </tr>
              <tr class="info">
               
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_3 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_3 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_3 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_3 %></th>
              </tr>
              <tr class="info">
              
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_4 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_4 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_4 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_4 %></th>
              </tr>
            </table>
          </div>
          

  
      <div class="col-md-2">
        <div class="wrapper">
            <nav class="vertical">
              <ul>
                <li>
                <a><center><font2><font size="5px">팀매치 결과 확인 스샷</font></font2></center></a>
         <%= form_tag("/freematch/image_upload", enctype: "multipart/form-data",  method: "post") do %>
            스크린샷 첨부 : <input type="file" name="lol_img_file"><input type="submit" value="확인">
                            <input type="hidden" name="kind_of_game" value="<%= @kind_of_game %>">
                            <input type="hidden" name="lol_whichgame_my_teamname"value="<%= @whichgame_lol.lol_whichgame_my_teamname %>">
                            <input type="hidden" name="which_id" value="<%= @whichgame_lol.id %>"><br>
                            <input type="hidden" name="teamlist_my_id" value="<%= @whichgame_lol.lol_whichgame_my_id %>">
                            <input type="hidden" name="teamlist_pposing_id" value="<%= @whichgame_lol.lol_whichgame_opposing_id %>">
                            <img src="<%= @whichgame_lol.lol_victory_image.url %>"><br>

                           
         <% end %>
         
                </li>
                
               
              </ul>
              
               <ul>
                <li>
                 <a><center><font2><font size="3px">TIP+ / Gameschool</font></font2></center></a>
                </li>
                </ul>
            </nav>
           
          </div>
         </div>
        </div>
       
          
                </li>
                
               
              </ul>
              
               <ul>
                <li>
                 <a><center><font2><font size="5px">TIP+ / GameSchool</font></font2></center></a>
                </li>
                </ul>
            </nav>
          </nav>
         </div>
   
         
         
     
      
         
  <% elsif @kind_of_game == "fifa" %>      
   <div class="row">
      <div class="col-md-12">
      
         <div class="wrapper2">
            <nav class="vertical">
              <ul>
                <li>
                <a><center><font2><font size="5px">현제 진행중인 팀 상세 정보 입니다.</font></font2></center></a>
     <div class="row"> 
      <div class="col-md-4">
       <table class="table"  style="margin-top:30%">
            <tr>
            
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
             
              <th>팀장</th>
              <th><%= @fifa_my_info.fifa_user_name %></th>
              <th><%= @fifa_my_info.fifa_major %></th>
              <th><%= @fifa_my_info.tear %></th>
              <th><%= @fifa_my_info.game_id %></th>
            </tr>
          
          </table>
        </div>
        
        
        
        <div class="col-md-4">
          <table class="table"  style="margin-top:30%">
            <tr >
          
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
            
              <th>팀장</th>
              <th><%= @fifa_opposing_info.fifa_user_name %></th>
              <th><%= @fifa_opposing_info.fifa_major %></th>
              <th><%= @fifa_opposing_info.tear %></th>
              <th><%= @fifa_opposing_info.game_id %></th>
            </tr>
           
          </table>
        </div>
      
        <div class="col-md-4">
         <div class="wrapper">
            <nav class="vertical">
              <ul>
                <li>
                <a><center><font2><font size="4px">경기결과를 올려주세요</font></font2></center></a>
        <%= form_tag("/freematch/image_upload", enctype: "multipart/form-data",  method: "post") do %>
        <img src="<%= @whichgame_fifa.fifa_victory_image.url %>"><br>
          <input type="file" name="fifa_img_file"><input type="submit" value="확인">
          <input type="hidden" name="which_id" value="<%= @whichgame_fifa.id %>">
          <input type="hidden" name="teamlist_my_id" value="<%= @whichgame_fifa.fifa_whichgame_my_id %>">
          <input type="hidden" name="teamlist_pposing_id" value="<%= @whichgame_fifa.fifa_whichgame_opposing_id %>">
          <input type="hidden" name="kind_of_game" value="<%= @kind_of_game %>">
        <% end %>
        
        
                </li>
                
               
              </ul>
              
               <ul>
                <li>
                 <a><center><font2><font size="3px">TIP+ / Gameschool</font></font2></center></a>
                </li>
                </ul>
            </nav>
           
          </div>
        </div>
          
                </li>
                
               
              </ul>
              
               <ul>
                <li>
                 <a><center><font2><font size="5px">TIP+ / GameSchool</font></font2></center></a>
                </li>
                </ul>
            </nav>
           
          </div>
         </div>
         </div>
        </div>
<% else %>
 <div class="row">
      <div class="col-md-12">
      
         <div class="wrapper2">
            <nav class="vertical">
              <ul>
                <li>
                <a><center><font2><font size="5px">현제 진행중인 팀 상세 정보 입니다.</font></font2></center></a>

    <div class="row"> 
      <div class="col-md-3">
       <table class="table" style="margin-top:30%">
            <tr>
             
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
            
              <th>팀장</th>
              <th><%= @hearthstone_my_info.hearthstone_user_name %></th>
              <th><%= @hearthstone_my_info.hearthstone_major %></th>
              <th><%= @hearthstone_my_info.tear %></th>
              <th><%= @hearthstone_my_info.game_id %></th>
            </tr>
          
          </table>
        </div>
        
        <div class="col-md-1" style="text-align: center; margin-top:5%">
          <h4>하스스톤</h4><br>
           <h3>VS</h3>
        
        </div>
        
        <div class="col-md-3">
          <table class="table" style="margin-top:30%">
            <tr >
            
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
            
              <th>팀장</th>
              <th><%= @hearthstone_opposing_info.hearthstone_user_name %></th>
              <th><%= @hearthstone_opposing_info.hearthstone_major %></th>
              <th><%= @hearthstone_opposing_info.tear %></th>
              <th><%= @hearthstone_opposing_info.game_id %></th>
            </tr>
           
          </table>
        </div>
      
      <div class="col-md-4">
      
       <div class="wrapper">
            <nav class="vertical">
              <ul>
                <li>
                <a><center><font2><font size="4px">경기결과를 올려주세요</font></font2></center></a>
        <%= form_tag("/freematch/image_upload?kind_of_game=hearthstone", enctype: "multipart/form-data",  method: "post") do %>
          <img src="<%= @whichgame_hearthstone.hearthstone_victory_image.url %>"><br>
          <input type="file" name="hearthstone_img_file"><input type="submit" value="확인">
          <input type="hidden" name="kind_of_game" value="<%= @kind_of_game %>">
          <input type="hidden" name="teamlist_my_id" value="<%= @whichgame_hearthstone.hearthstone_whichgame_my_id %>">
          <input type="hidden" name="teamlist_pposing_id" value="<%= @whichgame_hearthstone.hearthstone_whichgame_opposing_id %>">
          <input type="hidden" name="which_id" value="<%= @whichgame_hearthstone.id %>"><br>
          
        <% end %>
        
        
                </li>
                
               
              </ul>
              
               <ul>
                <li>
                 <a><center><font2><font size="3px">TIP+ / Gameschool</font></font2></center></a>
                </li>
                </ul>
            </nav>
           
          </div>
      </div>
        

 
                </li>
                
               
              </ul>
              
               <ul>
                <li>
                 <a><center><font2><font size="5px">TIP+ / GameSchool</font></font2></center></a>
                </li>
                </ul>
                <% end %>
            </div>
           
          </div>
         </div>
         </div>
        </div>
</div>

</div>






</div>
<script src="/js/bootstrap.min.js"></script>