
<h1>대결성사 자세히보기찡</h1>

<% if @kind_of_game == "lol" %>
  <% @whichgame_lol.each do |which| %>
      
       <% @lol_my_tema_info = TeamlistLol.find(which.lol_whichgame_my_id) %>
       <% @lol_opposing_team_info = TeamlistLol.find(which.lol_whichgame_opposing_id) %>     
      <div class="row"> 
        <div class="col-md-5">
         <table class="table">
              <tr >
                <th>게임종류</th>
                <th>분류</th>
                <th>이름</th>
                <th>학과</th>
                <th>계급</th>
                <th>게임 ID</th>
              </tr>
              <tr class="info">
                <th><%= @kind_of_game %></th>
                <th>팀장</th>
                <th><%= @lol_my_tema_info.leader_name %></th>
                <th><%= @lol_my_tema_info.lol_major %></th>
                <th><%= @lol_my_tema_info.lol_leader_tear %></th>
                <th><%= @lol_my_tema_info.lol_leader_id %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_my_tema_info.lol_member_name_1 %></th>
                <th><%= @lol_my_tema_info.lol_member_major_1 %></th>
                <th><%= @lol_my_tema_info.lol_tear_user_1 %></th>
                <th><%= @lol_my_tema_info.lol_user_id_1 %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_my_tema_info.lol_member_name_2 %></th>
                <th><%= @lol_my_tema_info.lol_member_major_2 %></th>
                <th><%= @lol_my_tema_info.lol_tear_user_2 %></th>
                <th><%= @lol_my_tema_info.lol_user_id_2 %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_my_tema_info.lol_member_name_3 %></th>
                <th><%= @lol_my_tema_info.lol_member_major_3 %></th>
                <th><%= @lol_my_tema_info.lol_tear_user_3 %></th>
                <th><%= @lol_my_tema_info.lol_user_id_3 %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_my_tema_info.lol_member_name_4 %></th>
                <th><%= @lol_my_tema_info.lol_member_major_4 %></th>
                <th><%= @lol_my_tema_info.lol_tear_user_4 %></th>
                <th><%= @lol_my_tema_info.lol_user_id_4 %></th>
              </tr>
            </table>
          </div>
          
          <div class="col-md-2" style="text-align: center">
          
             <h1>VS</h1>
            
          </div>
          
          <div class="col-md-5">
         <table class="table">
              <tr >
                <th>게임종류</th>
                <th>분류</th>
                <th>이름</th>
                <th>학과</th>
                <th>계급</th>
                <th>게임 ID</th>
              </tr>
              <tr class="info">
                <th><%= @kind_of_game %></th>
                <th>팀장</th>
                <th><%= @lol_opposing_team_info.leader_name %></th>
                <th><%= @lol_opposing_team_info.lol_major %></th>
                <th><%= @lol_opposing_team_info.lol_leader_tear %></th>
                <th><%= @lol_opposing_team_info.lol_leader_id %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_1 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_1 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_1 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_1 %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_2 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_2 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_2 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_2 %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_3 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_3 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_3 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_3 %></th>
              </tr>
              <tr class="info">
                <th></th>
                <th>팀원</th>
                <th><%= @lol_opposing_team_info.lol_member_name_4 %></th>
                <th><%= @lol_opposing_team_info.lol_member_major_4 %></th>
                <th><%= @lol_opposing_team_info.lol_tear_user_4 %></th>
                <th><%= @lol_opposing_team_info.lol_user_id_4 %></th>
              </tr>
            </table>
          </div>
          
        </div>
         <%= form_tag("/freematch/image_upload?kind_of_game=lol", enctype: "multipart/form-data",  method: "post") do %>
            스크린샷 첨부 : <input type="file" name="lol_img_file"><input type="submit" value="확인">
                            <input type="hidden" name="which_id" value="<%= which.id %>"><br>
                            <img src="<%= which.lol_victory_image.url %>"><br>
                           
         <% end %>
        
        
  <% end %>


<% elsif @kind_of_game == "fifa" %>

    <% @whichgame_fifa.each do |which| %>
      
      <% @fifa_my_info = TeamlistFifa.find(which.fifa_whichgame_my_id) %>
      <% @fifa_opposing_info = TeamlistFifa.find(which.fifa_whichgame_opposing_id) %>     
    <div class="row"> 
      <div class="col-md-5">
       <table class="table">
            <tr>
              <th>게임종류</th>
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
              <th><%= @kind_of_game %></th>
              <th>팀장</th>
              <th><%= @fifa_my_info.fifa_user_name %></th>
              <th><%= @fifa_my_info.fifa_major %></th>
              <th><%= @fifa_my_info.tear %></th>
              <th><%= @fifa_my_info.game_id %></th>
            </tr>
          
          </table>
        </div>
        
        <div class="col-md-2" style="text-align: center">
        
           <h1>VS</h1>
        
        </div>
        
        <div class="col-md-5">
          <table class="table">
            <tr >
              <th>게임종류</th>
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
              <th><%= @kind_of_game %></th>
              <th>팀장</th>
              <th><%= @fifa_opposing_info.fifa_user_name %></th>
              <th><%= @fifa_opposing_info.fifa_major %></th>
              <th><%= @fifa_opposing_info.tear %></th>
              <th><%= @fifa_opposing_info.game_id %></th>
            </tr>
           
          </table>
        </div>
      </div>
        <%= form_tag("/freematch/image_upload?kind_of_game=fifa", enctype: "multipart/form-data",  method: "post") do %>
          스크린샷 첨부 : <input type="file" name="fifa_img_file"><input type="submit" value="확인">
          <input type="hidden" name="which_id" value="<%= which.id %>"><br>
          <img src="<%= which.fifa_victory_image.url %>"><br>
        <% end %>
    <% end %>
  
<% else %>

    <% @whichgame_hearthstone.each do |which| %>
      
      <% @hearthstone_my_info = TeamlistHearthstone.find(which.hearthstone_whichgame_my_id) %>
      <% @hearthstone_opposing_info = TeamlistHearthstone.find(which.hearthstone_whichgame_opposing_id) %>     
    <div class="row"> 
      <div class="col-md-5">
       <table class="table">
            <tr>
              <th>게임종류</th>
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
              <th><%= @kind_of_game %></th>
              <th>팀장</th>
              <th><%= @hearthstone_my_info.hearthstone_user_name %></th>
              <th><%= @hearthstone_my_info.hearthstone_major %></th>
              <th><%= @hearthstone_my_info.tear %></th>
              <th><%= @hearthstone_my_info.game_id %></th>
            </tr>
          
          </table>
        </div>
        
        <div class="col-md-2" style="text-align: center">
        
           <h1>VS</h1>
        
        </div>
        
        <div class="col-md-5">
          <table class="table">
            <tr >
              <th>게임종류</th>
              <th>분류</th>
              <th>이름</th>
              <th>학과</th>
              <th>계급</th>
              <th>게임 ID</th>
            </tr>
            <tr class="info">
              <th><%= @kind_of_game %></th>
              <th>팀장</th>
              <th><%= @hearthstone_opposing_info.hearthstone_user_name %></th>
              <th><%= @hearthstone_opposing_info.hearthstone_major %></th>
              <th><%= @hearthstone_opposing_info.tear %></th>
              <th><%= @hearthstone_opposing_info.game_id %></th>
            </tr>
           
          </table>
        </div>
      </div>
        <%= form_tag("/freematch/image_upload?kind_of_game=hearthstone", enctype: "multipart/form-data",  method: "post") do %>
          스크린샷 첨부 : <input type="file" name="hearthstone_img_file"><input type="submit" value="확인">
          <input type="hidden" name="which_id" value="<%= which.id %>"><br>
          <img src="<%= which.hearthstone_victory_image.url %>"><br>
        <% end %>
    <% end %>

<% end %>