<h2>회원정보 수정</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "이메일" %><br />
    <p> <%= current_user.email %> </p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="field">
    <%= f.label :name, "이름" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :major, "학과" %><br />
    <%= f.text_field :major, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :hakbun, "학번" %><br />
    <%= f.text_field :hakbun, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "변경하고 싶은 비밀번호" %> <i>(패스워드 변경을 원하지 않으면 비워두세요)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "변경하고 싶은 비밀번호 확인" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "현재 비밀번호" %> <i>(정보 수정을 원하시면 현재 비밀번호를 넣으세요)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "수정" %>
  </div>
<% end %>

<h3>회원 탈퇴</h3>

<p>회원 탈퇴 하시겠습니까? <%= button_to "탈퇴", registration_path(resource_name), data: { confirm: "정말로 탈퇴 하시겠습니까?" }, method: :delete %></p>

<%= link_to "뒤로 가기", :back %>
