<html>    
    <head>
        <title>참가 신청</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    
  
</div> <!-- /container -->
        <body style="background-image:url('http://cfile2.uf.tistory.com/image/141C141B49F8780094DA9E'); background-size:90%;">
        

          <%= form_tag("/home/participation_process", method: "post") do %>
     
    <br><br>
  <center>
    <div class="row" style="margin-top: 10%;">
       <img src="http://imgnews.naver.net/image/144/2014/05/02/l_2014050202000109100024931_59_20140502173503.jpg?type=w540"style="width:500px; height:300px; opacity:0.9" >
    <img src="http://file.gamedonga.co.kr/files/2014/08/07/2_2.jpg"style="width:500; height:300px; opacity:0.9" >
    <img src="http://cfile1.uf.tistory.com/image/243083505354D56404E72B"style="width:500; height:300px; opacity:0.9">
        <div class="col-lg-offset-2 col-lg-5 col-sm-12 col-md-12">
   
         </div>
    
         <div class="col-lg-5 col-sm-12 col-md-12" style="padding: 5% 0px 0px 2%;">
           
        <%= form_tag("/home/participation_process", method: "post") do %>
            <p>
            <%=label_tag(:name, "이름: ") %>
            <input type="text" name="name" required>
            </p>
            <p>
            <%= label_tag(:major, "학과: ") %>
            <%= select_tag(:major, options_for_select([['신학과', '신학과'], 
                                                        ['도시및부동산개발학과', '도시및부동산개발학과'],
                                                        ['행정학과','행정학과'],
                                                        ['사회복지학과','사회복지학과'],
                                                        ['아동청소년복지학과','아동청소년복지학과'],
                                                        ['재활복지학과','재활복지학과'],
                                                        ['다문화가족복지전공(연계전공)','다문화가족복지전공(연계전공)'],
                                                        ['경영학과','경영학과'],
                                                        ['무역ㆍ물류학과','무역ㆍ물류학과'],
                                                        ['광고홍보학과','광고홍보학과'],
                                                        ['미국학과','미국학과'],
                                                        ['중국학과','중국학과'],
                                                        ['일본학과','일본학과'],
                                                        ['컴퓨터학과','컴퓨터학과'],
                                                        ['정보통신학과','정보통신학과'],
                                                        ['데이터정보학과','데이터정보학과'],
                                                        ['음악학과','음악학과'],
                                                        ['실용음악학과','실용음악학과'],
                                                        ['방송연예학과','방송연예학과'],
                                                        ['시각디자인학과','시각디자인학과'],
                                                        ['영상디자인학과','영상디자인학과'],
                                                        ['패션디자인및브랜딩학과','패션디자인및브랜딩학과'],
                                                        ['간호학과','간호학과'],
                                                        ['환경융합시스템학과','환경융합시스템학과'],
                                                        ['교양학부','교양학부']])) %>
            </p>
            

            <p>
            <%= label_tag(:hakbun, "학번: ") %>
            <input type="text" name="hakbun" required>
            </p>
            <p>
            <%= label_tag(:email, "이메일: ") %>
            <input type="email" name="email" required>
            </p>
            <p>
            <%= label_tag(:kakao, "카톡 ID: ") %>
            <input type="text" name="kakao" required>
            </p>
            <p>
            <%= label_tag(:phone_num, "연락처: ") %>
            <input type="text" name="phone_num" required>
            </p>
            <p>
                <label for="game">게임 : </label>
                <input id="game_select" name="game" type="radio" value="fifa" checked />
                <label for="game">피파 온라인</label>
                <input id="game_select" name="game" type="radio" value="lol" />
                <label for="game">리그 오브 레전드</label>
                <input id="game_select" name="game" type="radio" value="hearthstone" />
                <label for="game">하스스톤</label>
            </p>
            
            <div id="lol_view" class="desc" style="display: none">
                <p>
                   <%= label_tag(:team_name, "팀명: ") %>
                    <input type="text" name="team_name" >
                </p>
            </div>
<style>
  input#round{
width:80px; /*same as the height*/
height:80px; /*same as the width*/
background-color:gray;
border:1px solid gray; /*same colour as the background*/
color:white;
font-size:17px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*give the button a small drop shadow*/
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#round:hover{
background:#778899;
border:1px solid #778899;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}
</style>            
            <p style="padding-left: 15%">
<input id="round" type="submit" value="참가신청" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input id="round" type="submit" value="뒤로가기" />
   
            </p>
            
        <% end %>
 
            
        <% end %>
        </div>
    </div>
         

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    
    <script>
    $(function(){
      $("input[name$='game']").click(function(){
          var temp = $(this).val();
          
          if (temp == "lol"){
              $("#lol_view").show(1000);
          }else{
              $("div.desc").hide(1000);   
          }
      });
    });
    </script>
    </center>
  </body>
</html>
