<html>    
    <head>
        <title>참가 신청</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    
    <div class="container">
 <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"></li>
        <li role="presentation"></li>
      </ul>
    </nav>
   
  </div>
  <!-- 배너 -->
 
    <img src="http://www.afreeca.com/event/pfh/images/tournament2.gif" width="100%">
    <h1>Game School 8강 토너먼트 대회</h1>
    <p class="lead">2015년 10월 1일부터 10일까지 8강 토너먼트가 진행 됩니다.<br>많은 관심과 참여 부탁드립니다.</p>
 
  
  <!-- 배너끝 -->



  <div class="row marketing">
    <div class="col-lg-6">
      <h3>롤</h3>
      <img src="http://cfile21.uf.tistory.com/image/2718713B52366D3009C5FA" class="img-thumbnail" width="400">
    </div>
    <div class="col-lg-6">
      <h3>피파</h3>
      <img src="http://file.gamedonga.co.kr/files/2013/09/26/fifa14.jpg" class="img-thumbnail" width="400">
    </div>
    <div class="col-lg-6">
      <h3>서든</h3>
      <img src="http://storage.sa.nexon.com/league/news/20150208172030_86402d2ffc.jpg" class="img-thumbnail" width="400">
    </div>
    <div class="col-lg-6">
      <h3>하스스톤</h3>
      <img src="http://i1.daumcdn.net/thumb/R750x0/?fname=http%3A%2F%2Fcfile29.uf.tistory.com%2Fimage%2F233E4A4C55700EB21A0CD7" class="img-thumbnail" width="400">
    </div
  </div>

</div> <!-- /container -->
        <body style="background-image:url('http://cfile2.uf.tistory.com/image/141C141B49F8780094DA9E'); background-size:cover;">
        
    <center>
        <%= form_tag("/home/participation_process", method: "post") do %>
     
    <br><br>
  
    <div class="row" style="margin-top: 10%;">
        <div class="col-lg-offset-2 col-lg-5 col-sm-12 col-md-12">
    
         </div>
    
         <div class="col-lg-5 col-sm-12 col-md-12" style="padding: 5% 0px 0px 2%;">
           
        <%= form_tag("/home/participation_process", method: "post") do %>
            <p>
            <%=label_tag(:name, "이름: ") %>
            <input type="text" name="name" required>
            </p>
            <p>
            <%= label_tag(:major, "학과: ") %>
            <%= select_tag(:major, options_for_select([['신학과', '신학과'], 
                                                        ['도시및부동산개발학과', '도시및부동산개발학과'],
                                                        ['행정학과','행정학과'],
                                                        ['사회복지학과','사회복지학과'],
                                                        ['아동청소년복지학과','아동청소년복지학과'],
                                                        ['재활복지학과','재활복지학과'],
                                                        ['다문화가족복지전공(연계전공)','다문화가족복지전공(연계전공)'],
                                                        ['경영학과','경영학과'],
                                                        ['무역ㆍ물류학과','무역ㆍ물류학과'],
                                                        ['광고홍보학과','광고홍보학과'],
                                                        ['미국학과','미국학과'],
                                                        ['중국학과','중국학과'],
                                                        ['일본학과','일본학과'],
                                                        ['컴퓨터학과','컴퓨터학과'],
                                                        ['정보통신학과','정보통신학과'],
                                                        ['데이터정보학과','데이터정보학과'],
                                                        ['음악학과','음악학과'],
                                                        ['실용음악학과','실용음악학과'],
                                                        ['방송연예학과','방송연예학과'],
                                                        ['시각디자인학과','시각디자인학과'],
                                                        ['영상디자인학과','영상디자인학과'],
                                                        ['패션디자인및브랜딩학과','패션디자인및브랜딩학과'],
                                                        ['간호학과','간호학과'],
                                                        ['환경융합시스템학과','환경융합시스템학과'],
                                                        ['교양학부','교양학부']])) %>
            </p>
            

            <p>
            <%= label_tag(:hakbun, "학번: ") %>
            <input type="text" name="hakbun" required>
            </p>
            <p>
            <%= label_tag(:email, "이메일: ") %>
            <input type="email" name="email" required>
            </p>
            <p>
            <%= label_tag(:kakao, "카톡 ID: ") %>
            <input type="text" name="kakao" required>
            </p>
            <p>
            <%= label_tag(:phone_num, "연락처: ") %>
            <input type="text" name="phone_num" required>
            </p>
            <p>
                <label for="game">게임 : </label>
                <input id="game_select" name="game" type="radio" value="fifa" checked />
                <label for="game">피파 온라인</label>
                <input id="game_select" name="game" type="radio" value="lol" />
                <label for="game">리그 오브 레전드</label>
                <input id="game_select" name="game" type="radio" value="hearthstone" />
                <label for="game">하스스톤</label>
            </p>
            
            <div id="lol_view" class="desc" style="display: none">
                <p>
                   <%= label_tag(:team_name, "팀명: ") %>
                    <input type="text" name="team_name" required>
                </p>
            </div>
            
            <p style="padding-left: 15%">

     <%= submit_tag("참가신청") %> &nbsp; &nbsp;<%= submit_tag("뒤로가기") %>
            </p>
            
        <% end %>
    </center>
            
        <% end %>
        </div>
    </div>
         

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    
    <script>
    $(function(){
      $("input[name$='game']").click(function(){
          var temp = $(this).val();
          
          if (temp == "lol"){
              $("#lol_view").show(1000);
          }else{
              $("div.desc").hide(1000);   
          }
      });
    });
    </script>
  </body>
</html>
