<style>
.jumbotron
{ min-height: 650px; 
  color:white;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  }

</style>
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
 <link rel="stylesheet" type="text/css" href="stylesheet.css">

<body style="background-image:url('http://www.ucorean.com/files/attach/images/3959561/691/787/008/peaceful_summer_day-1920x1080.jpg'); background-size:100%;"><br>

 <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><font1>GameSchool</font1></a>
            </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                
                    <li >
                        <a href="/game_page/main"><font size="4px"><font1>Home</font1></font></a>
                    </li>
                    <li>
                        <a href="/home/participation"><font size="4px"><font1>팀 등록</font1></font></a>
                    </li>
                    <li>
                        <a href="about.html"><font size="4px"><font1>대전신청</font1></font></a>
                    </li>
                    <li>
                        <a href="/freeboard/freeboards"><font size="4px"><font1>게시판</font1></font></a>
                    </li>
                    <li>
                        <a href="contact.html" ><font size="4px"><font1>랭킹보기</font1></font></a>
                    </li>
                     <li>
                        <a href="contact.html" ><font size="4px"><font1>대진표</font1></font></a>
                    </li>
                </ul>
            </div>
<br>
<br><br>



<div class="container">
<font size="10px" color="white">GameSchool</font>
 <div class="jumbotron" style="width:600px height:600px">
         <font1><h1>FreeBoard</h1></font1><br><br><br>
        <table class="table table-condensed" id="data" style="padding-top:1px; padding-bottom:1px; background:rgba(40,40,40,0.7); align:center">
         
         <thead> 
             <tr>
                <th style="text-align :center">Number</th>
                <th style="text-align :center">글쓴이</th>
                <th style="text-align :center">제&nbsp;&nbsp;&nbsp;목</th>
                <th style="text-align :center">작성일</th>
              
              </tr>
         </thead> 
                 
            <% @fb_all.reverse_each do |a| %>
                 
                
                    <tr>
                            <td  style="text-align :center"><%= a.id %></td>
                        
                            <td  style="text-align :center"><%= a.fb_name %></td>
                         
                        <% if user_signed_in? %>
                            <td  style="text-align :center"><a href="/freeboard/upload_view?id=<%= a.id %>"><%= a.fb_title %>(<%= a.replies.count %>)</a></td>
                        <% else %>    
                            <td  style="text-align :center"><a href="/freeboard/warning"><%= a.fb_title %>(<%= a.replies.count %>)</a></td>
                        <% end %>
                            <td  style="text-align :center"><%=a.created_at.in_time_zone("Seoul")%></td>
                    </tr>
                  
                  
                
            <% end %>
             
         
         
         
        </table>
        
        <% if user_signed_in? %>
            <p align="right"><a href="/freeboard/upload">작성하기</a></p>
        <% else %>
            <p align="right"><a href="/freeboard/warning">작성하기</a></p>
        <% end %>
        

</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#data').after('<div id="nav"></div>');
            var rowsShown = 10;
            var rowsTotal = $('#data tbody tr').length;
            var numPages = rowsTotal/rowsShown;
            for(i = 0;i < numPages;i++) {
                var pageNum = i + 1;
                $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
            }
            $('#data tbody tr').hide();
            $('#data tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function(){
 
                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#data tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                        css('display','table-row').animate({opacity:1}, 300);
            });
        });
    </script>
    
    </body>