	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
    <meta name="author" content="">

    <title>평택대학교 게임 스쿨에 오신 걸 환영합니다.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<title>GameSchool</title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/hanna.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
    <link rel="stylesheet" type="text/css" href="/css/fbstylesheet.css">
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<style>


.jumbotron
{ min-height: 650px; 
color:black;
background: #ffffff;
background: rgba(255, 255, 255, 0.7s);
}
    </style>

<body>


         <%=render :partial =>"game_page/fixed_bar" %>
  <header class="intro-header" style="background-image: url('/imgs/배경1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="site-heading">
                       
                        <h1><font1>View</font1></h1>
                        <hr>
                        <span class="subheading"><font1>작성한 정보를 볼수있습니다.</font1></span>
                      
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div container>
            <div class="row">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-6">
                
                    <div class="jumbotron">
                   <h2>Freeboard</h2><br><br>
                   TITLE
                    <div style="padding-top:1px; padding-bottom:1px; background:white; align:center">
                        <center><h3><%= @one_fb.fb_title %></h3></center>
                      </div>  
                        <br><br>
                        CONTENT
                        <div style="padding-top:1px; padding-bottom:1px; background:white; align:center"><br>
                        <center><p class="lead"><%= @one_fb.fb_content %></p></center><br><br>
                        
                        <center>
                            
                            </div>
                            
                            <% @one_fb.replies.each do |r| %>
                             
                                <div class="<%= r.id %>">  
                                
                                    <p style="text-align:center"><h6>이름 : <%= r.rp_name %><br>내용 : <%= r.rp_content %> 
                                    </h6> </p>
                                    
                                </div>
                                <div class="<%= r.id %>" style="display :none">
                                    
                                        <textarea name="rp_content"></textarea>
                                        <input type="submit" value='확인'></button>
                                        <input type="hidden" name="rp_id" value="<%= r.id %>">
                                        
                                </div>
                                
                                <form  action="/freeboard/reply_delete" method="GET">
                                    <input type="hidden" name="rp_id" value="<%= r.id %>">
                                    <input type="submit" value="삭제">
                                    
                                </form>
                                
                                
                                <button href="#" id="update_button<%= r.id %>">수정</button>
                                
                            
                                <script>
                                
                                    $(function(){
                                        $("#update_button<%= r.id%>").click(function(){
                                            //수정 버튼 클릭했을때
                                         
                                        <% if current_user.name == r.rp_name %>
                                            
                                            $(".<%= r.id %>" ).show();
                                            
                                        <% else %>
                                            
                                            
                                        
                                        <% end %>
                                            
                                            });
                                    });
                                </script>
                            <% end %>
                  
                          <br><br>
                            <%= form_tag("/freeboard/reply_write", method: "post") do %>
                                <% if user_signed_in? %>
                                    작성자 : <%= current_user.name %> 
                                <% end %><br>
                                
                                <textarea type="text" name="rp_content"  placeholder="리플을 달아주세요" rows="4" cols="40"></textarea><br>
                                <input type="hidden" name="freeboard_id" value="<%= @one_fb.id %>">
                                <input type="hidden" name="rp_name" value="<%= current_user.name %>">
                                <input type="hidden" name="rp_hakbun" value="<%= current_user.hakbun %>">
                                <input type="submit" value="댓글달기"><br>
                                
                               
                                <a href="/freeboard/delete?id=<%= @one_fb.id %>">삭제쓰</a>&nbsp;
                                <a href="/freeboard/modify?id=<%= @one_fb.id %>">수정쓰</a>
                            <% end %>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>


